<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <nav>
      <ul>
        <li class="nav-btn">
          <i class="fas fa-user"></i>
          <span>Profil</span>
        </li>
        <li class="nav-btn active">
          <i class="fas fa-chart-line"></i>
          <span>Dashboard</span>
        </li>
        <li class="nav-btn">
          <i class="fas fa-chart-pie"></i>
          <span>Statistiques</span>
        </li>
        <li class="nav-btn">
          <a href="/home">
            <i class="fas fa-sign-out-alt"></i>
            <span>Déconnexion</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Contenu principal (Power BI) -->
  <div class="main-content">
    <iframe
      src="https://app.powerbi.com/reportEmbed?reportId=ba3b392d-88db-428c-9bfa-5b69b9543ac7&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730"allowfullscreen>
    </iframe>
  </div>
</div>
