<header class="top-bar">
  <div class="container">
    <div class="logo">
      <img src="assets/logo.png" alt="Hospital Logo" />
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Search..." />
      <button><i class="fa fa-search"></i></button>
    </div>

    <nav class="nav-links">
      <a href="#" class="nav-link">Home</a>
      <a href="#" class="nav-link">About Us</a>
      <a href="#" class="nav-link">Contact</a>
    </nav>
  </div>
</header>

<div class="banner" id="home">
  <div class="banner-content">
    <h1>
      A Better Vision <br />
      <span>For A Better Health</span>
    </h1>
    <p>With Visionary!</p>
    <div class="icons">
      <i class="fa fa-heartbeat"></i>
      <i class="fa fa-user-md"></i>
      <i class="fa fa-ambulance"></i>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  <button class="btn-main" (click)="goToAuth()">LOG IN</button>
  </div>
</div>

<section id="about" class="about-presentation-section">
  <div class="presentation">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    </p>
  </div>

  <div class="about">
    <div class="about-card">
      <img src="assets/what_we_are.png" alt="Service 1" />
      <h3>What We Are</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
    </div>
    <div class="about-card">
      <img src="assets/our_vision.jpg" alt="Service 2" />
      <h3>Our Vision</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
    </div>
    <div class="about-card">
      <img src="assets/our-team.png" alt="Service 3" />
      <h3>Our Team</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
    </div>
  </div>
</section>

<footer class="site-footer" id="contact">
  <div class="footer-container">
    <div class="footer-col follow-us">
      <h4>Follow Us</h4>
      <div class="social-buttons">
        <button title="Google" type="button">
          <i class="fab fa-google"></i>
        </button>
        <button title="Facebook" type="button">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button title="LinkedIn" type="button">
          <i class="fab fa-linkedin-in"></i>
        </button>
      </div>
    </div>
    <div class="footer-col contact-us">
      <h4>Contact Us</h4>
      <form class="footer-contact-form">
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Enter your email" required />

        <label for="message">Message:</label>
        <textarea id="message" placeholder="Enter your message" required></textarea>

        <button type="submit">Send</button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 Visionary</p>
  </div>
</footer>
